<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/nuoitrong.css">
    <title>Kiểm tra điều kiện nuôi ngao</title>
</head>
<body>
    <head>
        <div class="header">
            <div class="img-header">
            </div>
            <h2 class="title">Kiểm tra điều kiện nuôi ngao</h2>
        </div>
    </head>
    <div class="main">
        <!--<form action="" onsubmit="return kiemtra(); return false">-->
        
            <div class="row">
                <div class="column" style="background-color:#aaa;">
                    <label for="nhietdo">Nhiệt Độ (oC):</label>
                    <input type="number" id="nhietdo">
                    <div class="element" id="nhietdothap">
                        <span>Cần tăng nhiệt độ</span>
                    </div>
                    <div class="element" id="nhietdocao">
                        <span>Cần giảm nhiệt độ</span>
                    </div>
                    <div class="element positive" id="nhietdothichhop">
                        <span>Nhiệt độ thích hợp</span>
                    </div>
                    <label for="doman">Độ mặn (/oo)</label>
                    <input type="number" id="doman">
                    <div class="element" id="domanthap">
                        <span>Cần tăng độ mặn</span>
                    </div>
                    <div class="element" id="domancao">
                        <span>Cần giảm độ mặn</span>
                    </div>
                    <div class="element positive" id="domanthichhop">
                        <span>Độ mặn thích hợp</span>
                    </div>
                    <label for="dotrong">Độ trong (cm)</label>
                    <input type="number" id="dotrong">
                    <div class="element" id="dotrongthap">
                        <span>Cần tăng độ trong</span>
                    </div>
                    <div class="element" id="dotrongcao">
                        <span>Cần giảm độ trong</span>
                    </div>
                    <div class="element positive" id="dotrongthichhop">
                        <span>Độ trong thích hợp</span>
                    </div>
                    <label for="ph">Độ PH</label>
                    <input type="number" id="ph">
                    <div class="element" id="phthap">
                        <span>Cần tăng pH</span>
                    </div>
                    <div class="element" id="phcao">
                        <span>Cần giảm pH</span>
                    </div>
                    <div class="element positive" id="phthichhop">
                        <span>pH thích hợp</span>
                    </div>
                    <label for="dokiem">Độ kiềm (mg/l)</label>
                    <input type="number" id="dokiem">
                    <div class="element" id="dokiemthap">
                        <span>Cần tăng độ kiềm</span>
                    </div>
                    <div class="element" id="dokiemcao">
                        <span>Cần giảm độ kiềm</span>
                    </div>
                    <div class="element positive" id="dokiemthichhop">
                        <span>Độ kiềm thích hợp</span>
                    </div>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <label for="oxi">Độ oxi hòa tan (mg/l)</label>
                    <input type="number" id="oxi">
                    <div class="element" id="oxithap">
                        <span>Cần tăng độ oxi hòa tan</span>
                    </div>
                    <div class="element positive" id="oxithichhop">
                        <span>Độ oxi hòa tan thích hợp</span>
                    </div>

                    <label for="h2s">Sunphua hydro tự do H2S (mg/l)</label>
                    <input type="number" id="h2s">
                    <div class="element" id="h2scao">
                        <span>Cần giảm H2S</span>
                    </div>
                    <div class="element positive" id="h2sthichhop">
                        <span>H2S thích hợp</span>
                    </div>

                    <label for="nh3">Amoniac NH3 (mg/l)</label>
                    <input type="number" id="nh3">
                    <div class="element" id="nh3cao">
                        <span>Cần giảm Amoniac</span>
                    </div>
                    <div class="element positive" id="nh3thichhop">
                        <span>Amoniac thích hợp</span>
                    </div>

                    <label for="nitrit">Nitrit NO2- (mg/l)</label>
                    <input type="number" id="nitrit">
                    <div class="element" id="nitritcao">
                        <span>Cần giảm Nitrit</span>
                    </div>
                    <div class="element positive" id="nitritthichhop">
                        <span>Nitrit thích hợp</span>
                    </div>

                    <label for="chatran">Chất rắn lơ lửng (mg/l) </label>
                    <input type="number" id="chatran">
                    <div class="element" id="chatrancao">
                        <span>Cần giảm chất rắn lơ lửng</span>
                    </div>
                    <div class="element positive" id="chatranthichhop">
                        <span>Chất rắn lơ lửng thích hợp</span>
                    </div>
                </div>
            </div>
            
            <button type="submit" value="submit" class="btn-submit" onclick="return kiemtra()">Kiểm tra</button>
        <!--</form>-->

        <div class="result">
            <div class="element">
                <span>Cần tăng nhiệt độ</span>
            </div>
        </div>
        

    </div>
</body>
<script src="javascripts/nuoitrong.js"></script>
</html>