<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/nuoitrong.css">
    <title>Kiểm tra điều kiện nuôi ngao</title>
</head>
<body>
    <head>
        <div class="header">
            <div class="img-header">
            </div>
            <h2 class="title">Kiểm tra điều kiện nuôi ngao</h2>
        </div>
    </head>
    <div class="main">
        <!--<form action="" onsubmit="return kiemtra(); return false">-->
        
            <div class="row">
                <div class="column" style="background-color:#aaa;">
                    <label for="nhietdo">Nhiệt Độ (oC):</label>
                    <input type="number" id="nhietdo">
                    
                    <label for="doman">Độ mặn (/oo)</label>
                    <input type="number" id="doman">
 
                    <label for="dotrong">Độ trong (cm)</label>
                    <input type="number" id="dotrong">

                    <label for="ph">Độ PH</label>
                    <input type="number" id="ph">

                   
                    <label for="dokiem">Độ kiềm (mg/l)</label>
                    <input type="number" id="dokiem">

                    <label for="coliform">Coliform (mg/l) </label>
                    <input type="number" id="coliform">

                </div>
                <div class="column" style="background-color:#bbb;">
                    <label for="oxi">DO (mg/l)</label>
                    <input type="number" id="oxi">

                    <label for="po4">PO4 (mg/l)</label>
                    <input type="number" id="po4">
                    

                    <label for="tss">TSS (mg/l)</label>
                    <input type="number" id="tss">
                    

                    <label for="cod">COD (mg/l)</label>
                    <input type="number" id="cod">
                    

                    <label for="no2">NO2 (mg/l) </label>
                    <input type="number" id="no2">

                    <label for="nh4">NH4 (mg/l) </label>
                    <input type="number" id="nh4">
                   
                </div>
            </div>
            
            <button type="submit" value="submit" class="btn-submit" onclick="return kiemtra()">Kiểm tra</button>
        <!--</form>-->

        <div class="result" id="result">
        </div>
        

    </div>
</body>
<script src="javascripts/nuoitrong.js"></script>
</html>